
.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

nutmeg-reader/__pycache__/
nutmeg-reader/*.py[cod]
nutmeg-reader/*$py.class