.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

nutmeg_reader/__pycache__/
nutmeg_reader/*.py[cod]
nutmeg_reader/*$py.class
